@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

$primary-accent: #47AF9A;
$primary-accent-dark: #488d7f;
$secondary-accent: #6d8f88;
$secondary-accent-dark: #4790AF;
$secondary-accent-darker: #4b7e94;
$dark-color: #494949;
$dark-color-alt: #8b8b8b;
$base-color-light: #e7e7e7;

